.blog-page {
  padding: 50px;
  animation: slideDown 1s;
}

.avocado {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  flex-direction: column;
}

.blog-header {
  padding: 25px;
}

.blogposts-container {
  flex-direction: column;
  width: 800px; 
  margin: 0 auto;
  .blogpost {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .blogpost h2, h3 {
    text-transform: uppercase;
    margin: 5px 0;
    letter-spacing: 2px;
  }
  .blogpost h3 {
    font-weight: 400;
    font-size: 1rem;
  }
}

@media (min-width: 1201px) {
  .avocado {
    width: 81.666%;
  }
}

@media (max-width: 1000px) {
  .blogposts-container {
    width: 100%;
    padding: 25px;
  }
}