@import '../general/variables';

.page-wrapper {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(to bottom right, #eea849, #f46b45);
    // background: linear-gradient(to bottom right, $background-orange, $background-red);
}

.main-card {
    width: 70vw;
    margin: 15vh auto;
    box-shadow: $box-shadow;
    animation: slideDown 1s;
    justify-content: space-around;
    padding: 50px;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
    .avatar {
        width: 100%;
        border-radius: 50%;
        background: #3b5998;
    }
}

.bio-container {
    justify-content: center;
}

.contact-list {
    ul {
        width: 150px;
        li {
            font-weight: 700;
            transition: all 0.2s ease-out;
            svg {
                margin-right: 10px;
                color: $primary-accent;
            }
        }
        li:hover {
            padding-left: 5px;
        }
    }
}

.mail-icon:hover {
    color: #dd4b39;
}
.github-icon:hover {
    color: #f5f5f5;
}
.facebook-icon:hover {
    color: #3b5998;
}
.twitter-icon:hover {
    color: #1da1f2;
}

@media (max-width: $tablet-breakpoint) {
    .main-card {
        width: 85vw;
    }
    .about-page.about {
    width: 800px;
  }
}

@media (max-width: $mobile-breakpoint) {
    .index-page {
        padding: 10px;
    }
    .main-card {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .main-heading {
        margin: 10px 0;
        font-size: 28px;
    }
    .bio-container {
        align-items: center;
        width: 100%;
        flex-direction: column;
        .avatar-container {
            margin-right: 0;
            margin-bottom: 5vh;
            width: 175px;
        }
        .col-8 {
            align-items: center;
            width: 100%;
        }
    }
    .contact-list {
        display: none;
    }
    .contact-form {
        width: 100%;
    }
}

@media (max-width: $small-mobile-breakpoint) {
    
}