.portfolio-page {
    padding: 50px;
    flex-direction: column;
    animation: slideDown 1s;
}

.projects {
    padding: 50px;
    flex-direction: column;
}

.project-item {
    margin-bottom: 10vh;
    h1 {
        margin-bottom: 4vh;
    }
}

.project-background {
    transition: all 0.2s ease-out;
}
.project-background:hover {
    transform: scale(1.02);
    backface-visibility: hidden;
}

.button-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    a {
        background: none;
        border: none;
        font-weight: bold;
        color: $off-black;
        padding: 0;
        margin: 10px 0;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-out;
        svg {
            margin-right: 2.5px;
        }
    }
    a:hover {
        color: $primary-accent;
    }
}

.project-tag {
    margin-right: 1vw;
    svg {
        color: $primary-accent;
    }
}

@media (max-width: $tablet-breakpoint) {
    .portfolio-page {
        padding: 50px 0;
        margin: 0 2.5vw;
        .projects {
            width: 83.333%;
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .portfolio-page {
        padding: 10px;
        margin: 0;
        .projects {
            width: 100%;
            padding: 20px 15px;
        }
        .button-container {
            width: 100%;
            font-size: 14px;
            justify-content: space-around;
        }
    }
}