@import '../general/variables';

.Header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    width: 100%;
    border-bottom: 4px solid rgba($off-black, 0.8);
    background: rgba(255,255,255, 0.6);
    padding: 0 30px;
    box-sizing: border-box;
    animation: slideDown 1s;
    animation-fill-mode: both;
    position: relative;
    z-index: 50;
}

.Navigation {
    .nav-list {
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        a {
            margin: 0 10px;
            transition: all 0.2s ease-out;
        }
        a:hover {
            color: palevioletred;
        }
    }
}

.brand-name {
    font-weight: 400;
    font-size: 20px; 
    letter-spacing: 1px;
    transition: all 0.2s ease-out;
}
.brand-name:hover {
    color: palevioletred;
}

a, a:visited {
    color: $off-black;
}

.mobile-nav {
    display: none;
    align-items: center;
}

.mobile-nav-container {
    top: 0;
    left: 0;
    position: absolute;
    background: rgba($off-black, 0.95);
    height: 100vh;
    width: 100%;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    a {
        color: $off-white;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
            margin: 5vh 0;
            .active-link {
                color: $primary-accent;
            }
        }
    }
}

.open {
    animation: slideRight 500ms;
}

.closed {
    display: none;
}

.mobile-nav-icon {
    color: $off-white;
    font-size: 1.5rem;
}
.dark {
    color: $off-black;
}

@media (max-width: $mobile-breakpoint) {
    .Header {
        padding: 0 10px;
    }
    .Navigation > .desktop a {
        font-size: 14px;
    }
    .desktop.nav-list {
        display: none;
    }
    .brand-name {
        font-size: 16px;
    }
    .mobile-nav {
        display: flex;
    }
    .Navigation {
        width: fit-content;
    }
}