@media (min-width: 1281px) {
    .main-card {
        width: 50%;
    }
}

@media (max-width: 1198) {
  .about-page.about {
    width: 800px;
  }
}

@media (max-width: 1000px) {
    .main-card {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .Header {
        a, .brand-name {
            font-size: 14px;
        }
    }
    .main-card {
        flex-direction: column;
        height: 100%;
    }
    .main-heading {
        margin: 10px 0;
        font-size: 28px;
    }
    .bio-container {
        align-items: center;
        width: 83.333%;
    }
}